<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-text{
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-text">H1 text</h1>
    <h2 class="h2-text">H1 text</h2>
    <p>Browsers run web content belonging to different origins in different processes. Playwright is aligned with the modern
        browsers architecture and runs tests out-of-process. This makes <span style="color: green">Playwright</span> free of the typical in-process test
        runner limitations.</p>
    <a href = "https://playwright.dev/python/" target = "_blank"> Python Playwright</a>
    <img alt="browsers.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 500px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="post">
        <input type="text" value="123" placeholder="Введите текст">
        <input required type="email" placeholder="email">
        <input type="password" placeholder="password">
        <textarea placeholder="Введите текст"></textarea>
        <button type="submit">Button</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row1</td>
            <td>Row2</td>
            <td>Row3</td>
        </tr>
         <tr>
            <td>Row1</td>
            <td>Row2</td>
            <td>Row3</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>